.bar {
  fill: steelblue;
}

.bar:hover {
	fill: MidnightBlue;
}

.axis text {
  font: 10px sans-serif;
}

.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}

.tip {
  padding: 5px;
  color: #666666;
  font: 14px sans-serif;
}

.title {
	text-align: center;
	font: 24px sans-serif;
	text-anchor: middle;
}