/* Sven van Dam, 105297772 */

circle {
    stroke: #666666;
    stroke-width: 0.4px;
}

.title {
    font: 24px sans-serif;
    text-anchor: middle;
}

.subtitle {
    font: 16px sans-serif;
    text-anchor: middle;
}

.background {
	fill: #f3f3f3;
}

.axis text {
    font: 12px sans-serif;
    text-anchor: middle;
}

.axis .title {
    font-weight: bold;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.source {
    text-anchor: end;
    font: 12px sans-serif;
}

.source a {
    fill: #0000EE;
    
}

.source a:hover {
    text-decoration: underline;
}

.tip {
    padding: 5px;
    font: 12px sans-serif;
    background: rgba(243, 243, 243, 0.4);
    border-radius: 5px;
}

.colorlegend text {
	alignment-baseline: hanging;
	font: 10px sans-serif;
	text-anchor: middle;
}

.colorlegend .title {
    text-anchor: middle;
    alignment-baseline: hanging;
    font: 12px sans-serif;  
}

.circlelegend text {
    alignment-baseline: mathematical;
    font: 9px sans-serif;

}

.circlelegend .title {
	text-anchor: middle;
	alignment-baseline: hanging;
	font: 12px sans-serif;
}

.circlelegend line {
    stroke: #000000;
    shape-rendering: crispEdges;
    fill: none;
}