input[type=range]
{
    width: 100%;
    margin: 6.1px 0;
    -webkit-appearance: none;
}
input[type=range]:focus
{
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track
{
    width: 100%;
    height: 4.8px;
    cursor: pointer;
    border: .1px solid #010101;
    border-radius: 2.7px;
    background: slategrey;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
}
input[type=range]::-webkit-slider-thumb
{
    width: 10px;
    height: 17px;
    margin-top: -6.2px;
    cursor: pointer;
    border: .1px solid #000;
    border-radius: 3px;
    background: #bebebe;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track
{
    background: slategrey;
}
input[type=range]::-moz-range-track
{
    width: 100%;
    height: 4.8px;
    cursor: pointer;
    border: .1px solid #010101;
    border-radius: 2.7px;
    background: #003484;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
}
input[type=range]::-moz-range-thumb
{
    width: 10px;
    height: 17px;
    cursor: pointer;
    border: .1px solid #000;
    border-radius: 3px;
    background: #bebebe;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-track
{
    width: 100%;
    height: 4.8px;
    cursor: pointer;
    color: transparent;
    border-color: transparent;
    background: transparent;
}
input[type=range]::-ms-fill-lower
{
    border: .1px solid #010101;
    border-radius: 5.4px;
    background: #002e75;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper
{
    border: .1px solid #010101;
    border-radius: 5.4px;
    background: #003484;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb
{
    width: 10px;
    height: 17px;
    height: 4.8px;
    cursor: pointer;
    border: .1px solid #000;
    border-radius: 3px;
    background: #bebebe;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
}
input[type=range]:focus::-ms-fill-lower
{
    background: #003484;
}
input[type=range]:focus::-ms-fill-upper
{
    background: #003a93;
}
