<header>
	<script type="text/javascript">
		function createTransform(domain, range){
		// domain is a two-element array of the data bounds [domain_min, domain_max]
		// range is a two-element array of the screen bounds [range_min, range_max]
		// this gives you two equations to solve:
		// range_min = alpha * domain_min + beta
		// range_max = alpha * domain_max + beta
	 		// a solution would be:


	    var domain_min = domain[0];
	    var domain_max = domain[1] * 0.7;
	    var range_min = range[0];
	    var range_max = range[1];

	    // formulas to calculate the alpha and the beta
	   	var alpha = (range_max - range_min) / (domain_max - domain_min)
	    var beta = range_max - alpha * domain_max

	    // returns the function for the linear transformation (y= a * x + b)
	    return function(x){
	      return alpha * x + beta;
	    }
	}
	</script>

	<script type="text/javascript">
		// retrieve and precess data
		var data = new XMLHttpRequest();
		data.open("GET", "temps_2016.csv", true);
		data.send();

		// once data is loaded
		data.onreadystatechange = function() {

			// split string to array on commas
			var formatted = data.response.split(",");
			// count length
			var n = formatted.length;

			// iteratively convert string to numbers
			for (var i = 0; i < n; i++) {
				formatted[i] = Number(formatted[i]);
			}

			// get graph element
			var graph = document.getElementById('Graph');

			// somain of day numbers
			var dom = [0, n];
			//var dom = [0, graph.width];

			// range of minimum and maximum temperature
			var range = [Math.min(...formatted), Math.max(...formatted)];
			//var range = [0, graph.height];

			// arrays to be filled with converted positions
			var vals = [];
			var x_axis = [];

			// generate function based on domain and range
			transformer = createTransform(range, dom);

			// calculate x and y coordinates
			for (var i = 0; i < n; i++) {
				vals[i] = transformer(formatted[i]);
				x_axis[i] = transformer(i);
			}

			// get context of graph
			var ctx = graph.getContext('2d');
			ctx.beginPath();

			// set x and y margins
			var margins = [0, 25];

			// starting position
			ctx.moveTo(x_axis[0] + margins[0], graph.height - vals[0] - margins[1]);

			// iteratively connect all points
			for (var i = 1; i < n; i++) {
				ctx.lineTo(x_axis[i] + margins[0], graph.height - vals[i] - margins[1]);
				ctx.moveTo(x_axis[i] + margins[0], graph.height - vals[i] - margins[1]);
			}

			// draw line
			ctx.stroke();

			// min and max x positions
			var graph_x_bounds = [Math.min(...x_axis), Math.max(...x_axis)];

			// min and max y positions
			var graph_y_bounds = [Math.min(...vals), Math.max(...vals)];

			// months to be displayed
			var ticks = ["Jan '16", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "Jan '17"];

			// nr of months
			var nr_x_ticks = ticks.length;

			// space between ticks
			var stepsize = graph_x_bounds[1] / (nr_x_ticks);

			// offset of axes from border
			var axis_offset = 20;

			// nr ticks y axis
			var nr_y_ticks = 12;

			// absolute difference between min and max temps
			var y_range = range[1] - range[0];	

			// temp step per tick	
			var y_step = y_range / nr_y_ticks;

			// offsets to avoid overlap with axes
			var ticks_offsets = [5 , 20];

			// draw x-axis
			ctx.moveTo(graph_x_bounds[0], graph_y_bounds[0] + graph.height - axis_offset);
			ctx.lineTo(graph_x_bounds[1], graph_y_bounds[0] + graph.height - axis_offset);
			ctx.stroke();

			// draw y-axis
			ctx.moveTo(graph_x_bounds[0], graph_y_bounds[0] + graph.height - axis_offset);
			ctx.lineTo(graph_x_bounds[0], graph.height - graph_y_bounds[1] - margins[1]);
			ctx.stroke();

			// write x ticks
			for (var i = 0; i < nr_x_ticks; i++) {
				var text = ticks[i];
				var x_pos = graph_x_bounds[0] + i * stepsize - axis_offset;
				var y_pos = graph_y_bounds[0] + graph.height - ticks_offsets[0];

				ctx.fillText(text, x_pos, y_pos);
			}

			// write y ticks
			for (var i = 0; i < nr_y_ticks + 1; i++) {
				var text = Math.round(range[0] + y_step * i);
				var x_pos = graph_x_bounds[0] - ticks_offsets[1];
				var y_pos = graph_y_bounds[0] + graph.height - axis_offset - i * graph_y_bounds[1] / nr_y_ticks;

				ctx.fillText(text, x_pos, y_pos);
			}
		};
	</script>
</header>

<body>
	<h1>Gemiddelde temperatuur in de Bilt, 2016</h1>
	<h2>Sven van Dam, 10529772</h2>
	<canvas id="Graph" width="1440", height="600"></canvas>
</body>

